<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue: To Do List</title>
</head>
<body>

    <div id="app">

        <label for="todo_input">Inserisci nuovo To Do</label>
        <input type="text" id="todo_input" v-model="newTodo.text" />

        <label for="add_todo">Aggiungi nuovo To Do alla lista</label>
        <button id="add_todo" v-on:click="addNewTodo">Clicca per aggiungere</button>

        <ul>
            <li v-for="(todo, index) in todos">{{ todos[index].text }}</li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>